<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jumbotron.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<title>Artex</title>
</head>

<body>
	<div>
		<div class="jumbotron">
			<h1>P.H. ARTEX</h1>
		</div>
		<div th:replace="fragments/navbar :: header">...</div>
		<div class="container" id="headertitle">
			<div sec:authorize="isAnonymous()">
				<br></br> <br></br>
				<h3>
					Witaj, prosze <a th:href="@{/login}">zaloguj sie</a> aby zobaczyc
					zawartosc strony lub <a th:href="@{/user/registration}">zarejestruj
						sie</a> jezeli nie posiadasz konta.
				</h3>
			</div>
		</div>
	</div>
</body>

</html>